[aztaskbar]
update-notifier-project-version=28

[blur-my-shell]
settings-version=2

[blur-my-shell/appfolder]
brightness=0.59999999999999998
sigma=30

[blur-my-shell/dash-to-dock]
blur=true
brightness=0.59999999999999998
sigma=30
static-blur=true
style-dash-to-dock=0

[blur-my-shell/panel]
brightness=0.59999999999999998
sigma=30

[blur-my-shell/window-list]
brightness=0.59999999999999998
sigma=30

[dash-to-dock]
background-opacity=0.80000000000000004
dash-max-icon-size=48
dock-position='LEFT'
height-fraction=0.90000000000000002
preferred-monitor=-2
preferred-monitor-by-connector='DP-2'

[flypie]
active-stack-child='menu-editor-page'
child-color-mode-hover='auto'
menu-configuration='[{"name":"Main Menu","icon":"flypie-symbolic-#46a","shortcut":"<Primary>space","centered":false,"id":0,"children":[{"name":"Favorites","icon":"flypie-menu-favorites-symbolic-#da3","type":"Favorites","data":{},"angle":-1,"showLabels":false},{"name":"Clipboard","icon":"flypie-menu-clipboard-symbolic-#751","type":"Clipboard","data":{"maxNum":7,"firstAngle":-1},"angle":-1,"showLabels":false,"showChildLabels":false},{"name":"System","icon":"flypie-menu-system-symbolic-#69b","type":"System","angle":-1,"data":{},"showLabels":false},{"name":"Bookmarks","icon":"flypie-menu-bookmarks-symbolic-#7a3","type":"Bookmarks","angle":-1,"data":{},"showLabels":false},{"name":"VScode","icon":"vscode","type":"Command","data":{"command":"code"},"angle":-1},{"name":"Ghostty","icon":"gksu-root-terminal-symbolic","type":"Command","data":{"command":"ghostty"},"angle":-1}],"type":"CustomMenu","data":{},"touchButton":false,"superRMB":false,"showLabels":false}]'
stats-abortions=uint32 564
stats-achievement-dates={'bachelor': int64 1747846231760, 'cancellor0': 1747846461820, 'cancellor1': 1747846461822, 'cancellor2': 1747846539795, 'bigmenus0': 1747846639253, 'previewmenus0': 1747846730854}
stats-added-items=uint32 11
stats-best-tutorial-time=uint32 420
stats-click-selections-depth1=uint32 2
stats-click-selections-depth2=uint32 5
stats-click-selections-depth3=uint32 13
stats-dbus-menus=uint32 14
stats-gesture-selections-depth1=uint32 4
stats-gesture-selections-depth2=uint32 1
stats-last-tutorial-time=uint32 429
stats-preview-menus=uint32 7
stats-selections=uint32 26
stats-selections-1000ms-depth1=uint32 4
stats-selections-1000ms-depth3=uint32 6
stats-selections-150ms-depth1=uint32 1
stats-selections-2000ms-depth3=uint32 9
stats-selections-250ms-depth1=uint32 3
stats-selections-3000ms-depth3=uint32 10
stats-selections-500ms-depth1=uint32 3
stats-selections-500ms-depth3=uint32 3
stats-selections-750ms-depth1=uint32 3
stats-selections-750ms-depth3=uint32 4
stats-settings-opened=uint32 4
stats-tutorial-menus=uint32 12
stats-unread-achievements=uint32 6

[just-perfection]
support-notifier-showed-version=34
support-notifier-type=0
weather=true

[switcher]
font-size=uint32 24
max-width-percentage=uint32 60

[tiling-assistant]
active-window-hint-color='rgb(211,70,21)'
last-version-installed=46
overridden-settings={'org.gnome.mutter.edge-tiling': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-left': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-right': <@mb nothing>}
tiling-popup-all-workspace=true

[vitals]
hot-sensors=['_memory_usage_', '__temperature_avg__', '_processor_usage_']
show-fan=false
show-gpu=false
show-voltage=false
